.auth-modal-container {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #2a2a2aeb;
}

.auth-modal {
  position: absolute;
  width: 700px;
  height: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.auth-cancel-button {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  font-size: 15px;
}

.webcam {
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
}

.auth-func-btns {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.auth-func-btns button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
}

.captured-webcam {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* .capture-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: rgb(190, 193, 227);
  border-radius: 5px;
} */
